.onlyText{
    width: 60%;
    margin: 0 auto;
}

.onlyText p{
    margin: 50px 0;
    line-height: 24px;
}

.story{
    margin: 0 auto;
    display: flex;
    margin-bottom: 100px;
    flex-direction: row;
    max-width: 90%;
}

.story .images {
    flex: 0 0 60%;
    max-width: 60%;
    position: relative;
    min-width: 0;
}

.story .content {
  flex: 0 0 40%;
  padding: 300px 0;
  
}

.story .content .box {
    padding: 30px;
    border: lightslategray 1px solid;
}

.story .content p { 
    margin: 0; 
    padding: 0; 
}

.bigger{
    font-size: 18px;
    line-height: 42px;
    margin-bottom: 100px;
}

.story .images .sticky {
  min-width: 0;
  top: 20px;
  position: -webkit-sticky;
  position: sticky;
  height: 100vh;
}

.story .images .sticky img {
  max-width: 100%;
  height: auto;
  display: block;
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);
}

.visible{
    color: red;
}


